body{
  text-align: center;
  margin: 0;
  padding: 0;
}

.container-landscape{
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
  flex-direction: column;
  height: 100vh;
  font-weight: 600;
  font-size: 110%;
}

.container-landscape i{
  font-size: 150%;
}

.container-landscape h3{
  font-size: 150%;
  margin: 2% 0;
}

.container-landscape p{
  font-size: 100%;
  font-style: italic;
  margin: 0;
}

.container-app{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container-w{
  border: 2px solid black;
  border-radius: 15px;
  padding: 3% 5%;
  margin: 0;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px black;
}

h1{
  font-size: 300%;
}
a{
  text-decoration: none;
  color: black;
}

h2{
  font-size: 250%;
  margin-bottom: 0;
}

hr{
  border: 1px solid #242424;
  margin: 2% 5%;
}

p{
  margin: 2% 0;
}

.weather-search{
  margin: 0;
  font-size: 120%;
  font-weight: 500;
}

.country-flag{
  height: 45px;
  width: 45px;
  border: 2px solid black;
  border-radius: 100%;
  margin-right: 2%;
  margin-bottom: -4%;
  margin-left: -2%;
  box-shadow: 0 0 4 px black;
}

.weather-temp{
  font-size: 125%;
  margin-bottom: 6%;
  font-style: italic;
}

.weather-desc{
  font-size: 150%;
  font-weight: 600;
}

.weather-error{
  font-size: 150%;
  font-weight: 700;
}

form{
  margin: 10% 0;
  margin-top: 3%;
  display: flex; 
}

input{
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  padding: 3%;
  width: 100%;
  font-weight: 500;
  font-size: 110%;
}

input:hover{
  box-shadow: 0 0 5px black;
  transition: 0.2s ease;
}

button{
  margin: 0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3%;
  background-color: black;
  color: white;
  margin-left: 2%;
  font-size: 100%;
}

button:hover{
  box-shadow: 0 0 5px black;
  transition: 0.2s ease;
}

@media (max-width: 600px){

  body, html {
    overflow: hidden;
  }

  .container-w{
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 8%;
    backdrop-filter: none;
  }

  .container-app{
    backdrop-filter: blur(3.5px);
  }
}

@media screen and (orientation: landscape) and (max-height:575px){
  .container-app{
    display: none;
  }

  .container-landscape{
    display: flex;
  }
}